[Unit]
Description=JDownloader Headless Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/jdownloader
Environment="JAVA_OPTS=-Djava.awt.headless=true"

# Start JDownloader
ExecStart=/usr/bin/java -Djava.awt.headless=true -jar /opt/jdownloader/JDownloader.jar -norestart -noerr

# Restart policy
Restart=on-failure
RestartSec=10

# Resource limits
Nice=5
LimitNOFILE=4096

# Logs
StandardOutput=append:/tmp/jd2.log
StandardError=append:/tmp/jd2.log

[Install]
WantedBy=multi-user.target
